body {
  background-image: linear-gradient(
    to right,
    rgba(37, 35, 158, 0),
    rgb(30, 4, 90)
  );
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}

.product-preview-image {
  width: 300px;
  height: 300;
}
